#Box{
    width : 50% ;
    height : 100% ;
    box-sizing: border-box;
    border: 4px solid black;
    background-color: rgb(61, 92, 179);
    display: grid;
    align-items: center;
    justify-content: center;
    color: antiquewhite;

}